p,span{
  font-family: Poppins;
  margin-top: 0;
  margin-bottom: 0;
}

.advertisement-card{
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-top: 70px;
}


.first-line{

  font-size: 60px;
  font-weight: bold;

  width: 500px;

  line-height: 70px;

  margin: 30px 0px;
}

.first-line > span{
  color: #2B7BFF;
}

.second-line{
  width: 450px;
  margin-bottom: 20px;

  color: rgb(96,96,96);

  line-height: 26px;
}

.third-line{
  margin-bottom: 13px;

  color: rgb(96,96,96);

  font-weight: bold;
}

.button-container{
  display: flex;
  justify-content: space-between;

  width: 415px;
}

.playstore-button,.appstore-button{
  width: 200px;

  padding: 6px 0px; /*padding: "top and bottom padding(6px)" "left and right padding(0px)"*/
  
  border-radius: 6px;

  box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
}

.playstore-button:hover,.appstore-button:hover{
  cursor: pointer;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
}


.advertisement-pic > img{
  height: 100%;
  border-radius: 30px;
}